{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block photogalleryactive %}active{% endblock photogalleryactive %}

{% block body %}
<h1 class="text-center mt-5" style="font-weight:bold !important; margin-top:70px!important">Our Gallery</h1>


    <div class="container my-5" style="margin-top: 70px !important;">
        <div class="row d-flex justify-content-center">
            {% for y in photogallery %}
    
    
    
            <div class="col-lg-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img src="{{y.photogallery.url}}" height="250px" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-center" style="font-weight: bold;">{{y.phototitle}}</p>
                    </div>
                </div>
            </div>
    
            {% endfor %}
        </div>
    </div>

{% endblock body %}

